<div class="container-tecnicas">
  <div class="row">
  <div class="col-xs-12 col-sm-4 col-offset-sm-2 col-md-4 col-md-offset-2">
    <%= image_tag("/images/physio.png", class:"image-fisio", alt:"reabilitação") %>
  </div>
   <div class="col-xs-12 col-sm-5 col-sm-offset-0 col-md-5">
    <div class="tecnicas fisio-container">
      <h2>Fisioterapia</h2>
      <p>
        O Fisioterapeuta atua na recuperação, reeducação, reabilitação e prevenção de incapacidades originadas por disfunções físicas, do foro funcional músculo-esquelético, cardiovascular, respiratório e neurológico, e disfunções psíquicas.
        <br>
        O objetivo final é o de desenvolver a máxima funcionalidade e qualidade de vida dos indivíduos. A sua intervenção centra-se na análise e avaliação do movimento e da postura, baseadas na estrutura e função do corpo.
      </p>
      <br>
      <a href="/fisioterapia.html">
        <p>Saiba mais --></p>
      </a>
    </div>
  </div>
</div>
</div>
