<!-- Footer Homepage -->

<div class="footer">
  <div class="footer-links">
    <p>
       © FisioMoço 2018. All Rights Reserved.
    </p>
   <a href="tel:968227742"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
  </div>
</div>

