<!-- Footer all pages -->

<div class="footer-pages">
  <div>
   <a href="https://goo.gl/yKBxr9" target="_blank"><i class="fa fa-facebook facebook-icon"></i> </a>
   <a href="https://goo.gl/tiLRw4" target="_blank"><i class="fa fa-linkedin facebook-icon"></i> </a>
  </div>
  <div class="footer-links-pages">
    <p class="footer-black">
     © FisioMoço 2018. All Rights Reserved.
   </p>
 </div>
</div>
