<div class="footer">
  <div class="footer-links">
    <p>
      Copyright © 2018. All Rights Reserved.
    </p>
   <a href="tel:968227742"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
  </div>
</div>
<!--  <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
