<!-- Navigation options -->
<% @options = ["Osteopatia", "RPG", "Fisioterapia", "Educação", "Contato", "Blog"] %>

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "hold.svg", class: "logo-home", alt:"logo" %>
    <h2>FisioMoço</h2>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <a id="menu" class="navbar-menu ">Menu</a>
  </div>
</div>

<!-- Overlay menu -->

<div id="overlay" class="menu-overlay">
  <div class="overlay-content">
    <% @options.each do |item|  %>
    <%= link_to "#{item}", "/#{item.downcase}.html", class:"tached"%>
    <% end %>
  </div>
</div>
