<div class="container-tecnicas" id="tecnicas">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-offset-sm-2 col-md-4 col-md-offset-2">
      <%= image_tag("/images/spinal-column.png", class:"image-osteo", alt:"columna vertebral")%>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="tecnicas osteo-container ">
        <h2> <%= t(:osteopatia) %> </h2>
        <i></i>
        <p>A Osteopatia assenta em quatro pilares fundamentais:</p>
        <p>O ser humano é um todo indivisível. Todas as partes do corpo relacionam-se entre si.
         O corpo humano tem a capacidade de se autorregular, reencontrando a harmonia e o equilíbrio nas suas estruturas, designada por homeostasia.
         Para o corpo se autorregular é necessário que não haja obstruções nos canais nervosos, linfáticos, vasculares, além da nutrição celular e eliminação de dejetos.
         A função arterial é primordial. Se as artérias não funcionarem corretamente, o sistema venoso será mais lento, o que acumulará toxinas, gerando doenças.
       </p>
       <a href="/osteopatia.html">
        <p>Saiba mais --></p>
      </a>

    </div>
  </div>
</div>

</div>
