<div class="review-wraper">
  <h2>Testemunhos!</h2>

  <!-- Box review -->

  <div class="reviews">
    <div class="box-review-1">
      <h4>Sabina Ricci</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Two years ago I thought I would never be able to walk long distance, kneel, squat or bend ever again. I had a painful back and knees that did not respond to traditional physiotherapy and exercises. I am especially grateful to RPG and Miguel Moco,  a very intuitive and skilled therapist who patiently solved all my problems. Today at 56 years of age, I enjoy a normally active life that includes gardening, exercising, long walks and long distance journeys to different parts of the world with no difficulties.
      </p>
      <i class="fa fa-quote-right"></i>
    </div>

    <!-- Box review -->

    <div class="box-review-2">
      <h4>Raquel</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Recorri à RPG a conselho do meu osteopata, pois apresentava escoliose acentuada, que provocava contraturas musculares. Estas contraturas resultam em constantes dores em diversos pontos da coluna que, com a minha idade e profissão (farmacêutica) eram limitadoras e algo incapacitantes. Após algumas sessões de RPG, as dores começaram a desaparecer, notando-se grande diferença entre o antes e o depois. A escoliose foi praticamente resolvida, sendo apenas residual. Recomendo vivamente este método de tratamento, é notoriamente eficaz pois não se tratam apenas os sintomas, corrigimos a causa dos mesmos.
        Apostei na RPG para me sentir bem e melhorar a minha postura. Aliando a minha força de vontade ao trabalho do Miguel, é com toda a certeza uma aposta ganha! Excelente profissional e pessoa!
      </p>
      <i class="fa fa-quote-right"></i>
    </div>
  </div>

 <!-- Box review -->

  <div class="reviews reviews-2">
    <div class="box-review-1">
      <h4>Vanessa Lopes</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Apostei na RPG para me sentir bem e melhorar a minha postura. Aliando a minha força de vontade ao trabalho do Miguel, é com toda a certeza uma aposta ganha! Excelente profissional e pessoa!
      </p>
      <i class="fa fa-quote-right"></i>
    </div>

    <!-- Box review -->

    <div class="box-review-2">
      <h4>Rafael</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Desde há uns meses, queixava-me de dores na zona interna da coxa e virilha, que após consulta de ortopedia e de ter feito radiografia, fui diagnosticado com tendinite dos adutores/pubalgia e verificaram que tinha escoliose. Tive a sorte de encontrar um fisioterapeuta competente, e iniciei tratamentos de RPG. Desde a primeira sessão senti resultados (redução das dores, melhoria da mobilidade) e, ao final de duas semanas, já não tinha dores. Após 5 meses, a escoliose ficou residual, e não sinto as limitações na mobilidade que sentia antes, e até sinto maior flexibilidade. A RPG proporcionou-me uma grande melhoria da qualidade de vida (principalmente na actividade física), sendo que a confiança que senti durante todo o tratamento foi essencial para me sentir seguro e cada vez melhor.
      </p>
      <i class="fa fa-quote-right"></i>
    </div>
  </div>


<!-- Google Rating -->

  <div class="google-rating">
    <h4>Google Rating!</h4>
    <i class="fa fa-google"></i>
    <% 5.times do %>
    <i class="fa fa-star"></i>
    <% end %>
  </div>
</div>
