<div class="review-wraper">
  <h2>Testemunhos!</h2>
  <div class="reviews">
    <div class="box-review-1">
      <h4>Sabina Ricci</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Two years ago I thought I would never be able to walk long distance, kneel, squat or bend ever again. I had a painful back and knees that did not respond to traditional physiotherapy and exercises. I am especially grateful to RPG and Miguel Moco,  a very intuitive and skilled therapist who patiently solved all my problems. Today at 56 years of age, I enjoy a normally active life that includes gardening, exercising, long walks and long distance journeys to different parts of the world with no difficulties.
      </p>
      <i class="fa fa-quote-right"></i>
    </div>

    <div class="box-review-2">
      <h4>Sabina Ricci</h4>
      <i class="fa fa-quote-left"></i>
      <p>
        Two years ago I thought I would never be able to walk long distance, kneel, squat or bend ever again. I had a painful back and knees that did not respond to traditional physiotherapy and exercises. I am especially grateful to RPG and Miguel Moco,  a very intuitive and skilled therapist who patiently solved all my problems. Today at 56 years of age, I enjoy a normally active life that includes gardening, exercising, long walks and long distance journeys to different parts of the world with no difficulties.
      </p>
      <i class="fa fa-quote-right"></i>
    </div>
  </div>
  <div class="google-rating">
    <h4>Google Rating!</h4>
    <i class="fa fa-google"></i>
    <% 5.times do %>
    <i class="fa fa-star"></i>
    <% end %>
  </div>
</div>
