.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  p {
    font-size: 17px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: lobster;
    opacity: 0.8;
    @media screen and (max-width: $iphone4) {
      font-size: 12px;
    }

  }
  h5{
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family:'Tangerine', cursive;
    opacity: 0.8;
    border-bottom: 0.5px solid white;
    padding-bottom: 5px;
    @media screen and (max-width: $iphone4) {
      font-size: 20px;
    }
  }
  h1 {
    font-size: 90px;
    font-family:'Tangerine', cursive;
    margin-top: -100px;
    letter-spacing: 7px;

    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: $xtrasmall) {
      font-size: 70px;
    }
  }
}

