// @keyframes cursor {
//   from, to { border-color: transparent; }
//   50% { border-color: #D0DEE9; }
// }

// @keyframes typing {
//   from { width: 100%; }
//   90%, to { width: 0; }
// }

// @keyframes slide {
//   #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 3px; }
//   to { font-size: 0; letter-spacing: 0; }
// }

// // @media screen and (max-width: $xtrasmall) {
// //   @keyframes slide {
// //   #{100% / $slides} { font-size: $slider-font-size-small; letter-spacing: 3px; }
// //   to { font-size: 0; letter-spacing: 0; }
// //   }
// // }

// .#{$slider-name} {
//   font-family: Consolas, monospace;
//   white-space: nowrap;
// }

// .#{$slider-name} p {
//   position: relative;
//   display: inline;
//   font-size: 0;

//   text-transform: uppercase;
//   letter-spacing: 0;
//   animation: slide $typing-duration * $slides step-start infinite;
// }

// .#{$slider-name} p::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   border-left: 3px solid black;
//   background-color: #D0DEE9;
//   animation: typing $typing-duration infinite,
//              cursor 1s infinite;
// }

// @each $letters in $tab-letters {
//   $i: index($tab-letters, $letters);
//   .#{$slider-name} p:nth-child(#{$i}) {
//     animation-delay:  $typing-duration * ($i - 1);
//     &::after {
//       animation-delay: $typing-duration * ($i - 1);
//       animation-timing-function: steps(#{$letters}), step-end;
//     }
//   }
// }
