/* Footer Homepage */
.footer {
  background: transparent;
  position: static;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  padding: 0 20px;
  width: 100%;
  @media screen and (max-width: $iphone4) {
    padding: 0 15px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  a {
    color: $text-color;
    opacity: 0.7;
    text-decoration: none;
    font-size: 18px;
    font-family: lobster;
    padding: 5px;
    border-radius: 10px;
    &:hover {
      opacity: 1;
    }
  }
  p {
    color: $text-color;
    font-size: 13px;
    font-family: lobster;
    opacity: 0.7;
    margin: auto 0;
    @media screen and (max-width: $iphone4) {
      font-size: 10px;
    }
  }
}

.footer-contact a {
  color: $text-color;
  font-size: 13px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}


 /* Footer Contact page */
.footer-pages {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome */
  position: static;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90px;
  padding: 0 20px;
  width: 100%;
  @media screen and (max-width: $iphone4) {
    padding: 0 15px;
  }
}

.footer-links-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  p {
    color: white;
    font-size: 12px;
    font-family: lobster;
    opacity: 0.7;
    margin: auto 0;
    text-align: center;
    @media screen and (max-width: $iphone4) {
      font-size: 10px;
    }
  }
}

.thank-icons {
  font-size: 10px;
  font-family: lobster;
  color: black;
  opacity: 0.7;
}

.icons-thank {
  margin: 50px 0 5px 5px;
}



