.navbar-wagon-home {
  background: transparent;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .sticky {
    background: white;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: $iphone4)
 {
  .navbar-wagon-home {
    justify-content: center;
    padding: 0 20px;
  }
}



.navbar-wagon-brand img {
  height: 50px;
  @media screen and (max-width: $small) {
    height: 35px;
    margin-left: -15px;
  }
  @media screen and (max-width: $iphone4) {
    height: 30px;
  }
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-item-home {
  cursor: pointer;
  padding: 0 20px;
  @media screen and (max-width: $small) {
    padding: 0 10px;
  }
  @media screen and (max-width: $iphone4) {
    padding: 0 6px;
  }
}

/* Navbar link */
.navbar-wagon-link-home {
  color: whitesmoke;
  font-size: 15px;
  font-family: lobster;
  letter-spacing: 3px;
  opacity: 0.8;
  @media screen and (max-width: $xtrasmall) {
    font-size: 14px;
    letter-spacing: 1px;
  }
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}




/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $navbar-gray;
  border-color: $navbar-gray;
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    font-family: lobster;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
    &:hover {
      background: transparent !important;
      color: black !important;
    }
  }
  &:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid $navbar-gray;
    border-top: 1px solid $navbar-gray;
  }
}

/* Graduation Icon */

#grad-icon {
  color: whitesmoke;
  opacity: 0.8;
}


