.navbar-wagon {
  background: transparent;
  position: fixed;
  width: 100%;
  transition: 0.5s;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar-wagon.nav-scroll {
  background: linear-gradient(to right, #2a5298, #1e3c72);
  opacity: 0.7;
  z-index: 999;
  transition: 0.5s;
  @media screen and (max-width: $iphone4) {
    opacity: 0.9;
  }
}


a.navbar-wagon-brand {
    text-decoration: none !important;
}

.navbar-wagon-brand {
  display: flex;
  align-items: center;
  h2 {
    color: white;
    font-family:'Tangerine', cursive;
    font-size: 35px;
    padding: 0 15px;
    border-left: 0.5px solid white;
      @media screen and (max-width: $iphone4) {
        font-size: 30px;
        padding: 0 13px;
      }
  }
  img {
    height: 35px;
    margin-top: 5px;
    @media screen and (max-width: $iphone4) {
      height: 25px;
      margin-top: 10px;

    }
  }
  @media screen and (max-width: $iphone4) {
    margin-left: -15px;
  }
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Navbar menu open */

.navbar-menu {
  cursor: pointer;
  padding: 5px 15px;
  color: white;
  font-size: 20px;
  font-family:'Tangerine', cursive;
  letter-spacing: 3px;
  opacity: 0.9;
  text-decoration: none;
  font-weight: lighter;
  margin-top: 10px;
}

a:hover, a:focus {
  color: white;
  opacity: 1;
  text-decoration: none;
}



/* Hidden Menu Bar */

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #2a5298, #1e3c72);
  overflow-x: hidden;
  z-index: 500;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease;
}

.menu-overlay-appear {
  width: 100%;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  a {
    padding: 10px;
    font-family: sans-serif;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    display: block;
    font-size: 30px;
    opacity: 1;

  }
}


/*  Icon */

.icon {
  color: whitesmoke;
  margin-top: 10px;
  font-size: larger;

}



