.review-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-family: $brand-font;
    color: $text-color;
    text-align: center;
    font-size: 60px;
    border-bottom: 0.5px solid lightgrey;
  }
}

.reviews {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: $iphone4) {
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;

  }

   h4{
    font-family: $brand-font;
    text-align: center;
    font-size: 29px;
  }
  p {
    font-size: 14px;
    padding: 10px;
    line-height: 1.78em;
    @media screen and (max-width: $iphone4) {
      font-size: 12px;
    }
  }
}

.box-review-1, .box-review-2 {
  height: auto;
  width: 400px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.6s ease;
  &:hover {
    transform: scale(1.1);
    @media screen and (max-width: $iphone4) {
      transform: scale(1.0);
    }
  }
  @media screen and (max-width: $iphone4) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 300px;

  }
}
.box-review-1{
  border-left: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
}

.box-review-2 {
  border-right: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
}


.google-rating {
  padding: 10px;
  h4{
    font-family: $brand-font;
    text-align: center;
  }
}

.fa-star {
  color: gold;
}

.fa-quote-right {
  float: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

.fa-quote-left {
  padding-left: 10px;
}
