.about-me {
  h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h4 {
    font-family: lobster;
    font-size: 17px;
    letter-spacing: -.006em;
    text-align: center;
    line-height: 1.78;
    @media screen and (max-width: $iphone4) {
      font-size: 15px;
    }
  }
}

.educ-show-banner {
  width: 100vw;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  h1{
    font-family: lobster;
    color: white;
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: lighter;
    @media screen and (max-width: $iphone4) {
      font-size: 50px;
    }
  }
}

.education {
  margin: 30px 0 30px 0;
  h4 {
    font-family: lobster;
    font-size: 17px;
    letter-spacing: -.006em;
    text-align: left;
    line-height: 1;
    @media screen and (max-width: $iphone4) {
      font-size: 15px;
    }
  }
  img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media screen and (max-width: $iphone4) {
      width: 40px;
    }
  }
  h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
     @media screen and (max-width: $iphone4) {
      font-size: 34px;
     }
  }
}
