.about-me {
  h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.educ-show-banner {
  width: 100vw;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-family: lobster;
    color: white;
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: lighter;
    @media screen and (max-width: $iphone4) {
      font-size: 50px;
    }
  }
}

.education {
  margin-top: 30px;
  h4 {
    font-family: lobster;
    font-size: 19px;
    letter-spacing: -.003em;
    text-align: left;
  }
  img {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media screen and (max-width: $iphone4) {
      width: 50px;
    }
  }
  h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
  }
}
