
.special-show-banner {
  height: 65vh;
  width: 100vw;
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  background: linear-gradient(to right, #2a5298, #1e3c72);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-family: lobster;
    color: white;
    letter-spacing: 10px;
    font-size: 75px;
    font-weight: lighter;
    @media screen and (max-width: $iphone4) {
      font-size: 35px;
    }
  }
  h2{
    font-family: lobster;
    color: whitesmoke;
    @media screen and (max-width: $iphone4) {
      font-size: 20px;
    }
  }
}

.specialities-explain {
  margin-bottom: 30px;
  h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 36px;
    margin: 30px 0;
    @media screen and (max-width: $iphone4) {
      font-size: 32px;
    }
  }
  p {
    font-size: 19px;
    line-height: 1.78;
    letter-spacing: -.003em;
    font-family: lobster;
    @media screen and (max-width: $iphone4) {
      font-size: 16px;
    }
  }
  ul{
    list-style:none;
  }
  li {
    text-align: center;
    font-size: 19px;
    line-height: 1.78;
    letter-spacing: -.003em;
    font-family: lobster;
    @media screen and (max-width: $iphone4) {
      font-size: 16px;
    }
  }
  ol > li {
    text-align: left;
  }
}

