.blog-banner {
  height: 25vh;
  width: 100%;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-family: $brand-font;
    color: white;
    letter-spacing: 10px;
    font-size: 55px;
    font-weight: lighter;
    @media screen and (max-width: $iphone4) {
      font-size: 35px;
    }
  }
}
