<!-- Banner -->
<div class="contact-show-banner">
  <div class="wrapper-all">


    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-5 ">
        <div class="options-contact">
          <h1>Entra em contato</h1>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-5">
        <div class="personal-wrapper">
          <div class="personal">
            <div class="contact-details">
              <p>Contato</p>
              <a href="tel:96 822 77 42" class="contact-link"><icon class="glyphicon glyphicon-earphone"></icon> +351 96 822 77 42</a>
            </div>
            <div class="contact-details">
              <p>Email</p>
              <a href="mailto:fisio-miguel@hotmail.com" class="contact-link"><icon class="fa fa-at"></icon> fisio-miguel@hotmail.com</a>
            </div>
            <div class="contact-details">
              <p>Social Media</p>
              <a href="https://goo.gl/yKBxr9" target="_blank"><i class="fa fa-facebook facebook-icon"></i> </a>
              <a href="https://goo.gl/tiLRw4" target="_blank"><i class="fa fa-linkedin facebook-icon"></i> </a>
            </div>
          </div>
            <h2>Fisioterapia ao domicílio: Sintra, Oeiras e Cascais</h2>
        </div>
      </div>
    </div>


    <div class="row wrapper-where">
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-5">

        <div class="options-contact">
          <h1>Onde estou?</h1>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-md-5">
        <div class="where">

          <h4>CintraMedica – Edifício Cintramedica, Travessa da Portela 2710-437 Sintra</h4>
          <a href="https://goo.gl/Pau2Hn" target="_blank" >Abrir em Google Maps</a><br>
          <a href="tel:21 910 00 80" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> +351 21 910 00 80</a><br>
          <a href="http://www.cintramedica.pt/pt/" target="_blank">Visite o site CintraMedica</a><br>

        </div>
      </div>
    </div>

  </div>
</div>


<%= partial "layouts/footer" %>

