<!-- Banner -->
<div class="contact-show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 8%), url(<%= image_path("nasa.jpg") %>)">
  <h1 class="fadein">Contato</h1>
</div>

<!-- Contato detalhes -->

<div class="row contact contact-locations">

  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-2">

    <h2>Onde estou?</h2>
    <h4>CintraMedica – Edifício Cintramedica, Travessa da Portela 2710-437 Sintra</h4>
    <div class="options-location">
      <a href="tel:21 910 00 80" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 21 910 00 80</a>
      <a href="http://www.cintramedica.pt/pt/" target="_blank"><h3>Visite o site CintraMedica</h3></a>
    </div>

    <h4>Gabinete Privado Lisboa – Avenida da República nº83 5º andar</h4>
    <div class="options-location">
      <a href="tel:96 822 77 42" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
      <h3>Gabinete Privado Lisboa</h3>
    </div>

  </div>

  <!-- Domicilio -->
  <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0 domicilio">
    <h2>Fisioterapia ao Domicílio</h2>
    <h4>Sintra, Oeiras, Cascais e Lisboa</h4>
    <a href="tel:96 822 77 42" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
    <a href="mailto:fisio-miguel@hotmail.com" class="email-icon"><icon class="fa fa-at"></icon> Email</a>
    <a href="https://www.facebook.com/RPGMiguelMoco/" class="face-icon"><icon class="fa fa-facebook-square"></icon></a>
  </div>

</div>

<!-- Google Maps -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
    <div id="map"></div>
  </div>
</div>




<div class="icons-thank">
  <div class="thank-icons">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"  target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div class="thank-icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
<%= partial "layouts/footer" %>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAX1qYm3zewyv-7_KpYRwqO-XWuu4UBOA&callback=initMap"></script>
