<!-- Banner -->
<div class="contact-show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 8%), url(<%= image_path("nasa.jpg") %>)">
  <h1 class="fadein">Contato</h1>
</div>

<!-- Contato detalhes -->

<div class="row contact">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-2">

<!-- Cintra Medica -->
    <h2>Onde estou?</h2>
    <a href="https://www.google.es/maps/place/Cl%C3%ADnica+Cintram%C3%A9dica+-+Portela+de+Sintra/@38.801785,-9.379619,15z/data=!4m5!3m4!1s0x0:0xf2cb3f895c3e37b7!8m2!3d38.801785!4d-9.379619" target="_alt"><h4>CintraMedica – Edifício Cintramedica, Travessa da Portela 2710-437 Sintra</h4></a>
    <div class="options-location">
      <a href="tel:21 910 00 80" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 21 910 00 80</a>
      <a href="http://www.cintramedica.pt/pt/" target="_blank"><h3>Visite o site CintraMedica</h3></a>
    </div>

<!-- Gabinete Lisboa -->
    <a href="https://www.google.es/maps/place/Av.+da+Rep%C3%BAblica,+Lisboa,+Portugal/@38.7406234,-9.1477139,18z/data=!4m13!1m7!3m6!1s0xd1933086b686137:0x26dd4bf1d73d0c2d!2sAv.+da+Rep%C3%BAblica,+Lisboa,+Portugal!3b1!8m2!3d38.7407531!4d-9.1466571!3m4!1s0xd1933086b686137:0x26dd4bf1d73d0c2d!8m2!3d38.7407531!4d-9.1466571" target="_alt" alt="Abrir em Google Maps"><h4>Gabinete Privado Lisboa – Avenida da República nº83 5º andar</h4></a>
    <div class="options-location">
      <a href="tel:96 822 77 42" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
    </div>

  </div>

  <!-- Domicilio -->
  <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0 domicilio">
    <h2>Fisioterapia ao Domicílio</h2>
    <h4>Sintra, Oeiras, Cascais e Lisboa</h4>
    <div class="wrapper-personal">
      <a href="tel:96 822 77 42" class="phone"><icon class="glyphicon glyphicon-earphone"></icon> 96 822 77 42</a>
      <a href="mailto:fisio-miguel@hotmail.com" class="email"><icon class="fa fa-at"></icon> fisio-miguel@hotmail.com</a>
      <a href="https://www.facebook.com/RPGMiguelMoco/" target="_alt" class="facebook-icon" ><i class="fa fa-facebook"></i> Facebook</a>

    </div>
  </div>

</div>

<!-- Google Maps -->
<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div id="map"></div>
  </div>
</div> -->



<!-- Thank you icons -->
<div class="icons-thank">
  <div class="thank-icons">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"  target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div class="thank-icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>

<%= partial "layouts/footer" %>

<!-- Google Maps async -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAX1qYm3zewyv-7_KpYRwqO-XWuu4UBOA&callback=initMap"></script>
