<!-- Homepage banner -->

<div class="banner"  alt="Postura corpural" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "health.jpg"%>);">
  <div class="home-content">
    <h1>FisioMoço</h1>
    <p>It is health that is real wealth and not pieces of gold and silver</p>
     <h5>Mahatma Gandhi</h5>
  </div>
</div>


<div>
  <%= image_tag("/images/spinal-column.png", class:"spinal-home") %>
  <div class="container-tecnicas">
    <div class="tecnicas">
      <h2>Fisioterapia</h2>
      <p>
        O Fisioterapeuta atua na recuperação, reeducação, reabilitação e prevenção de incapacidades originadas por disfunções físicas, do foro funcional músculo-esquelético, cardiovascular, respiratório e neurológico, e disfunções psíquicas.
      <br>
      O objetivo final é o de desenvolver a máxima funcionalidade e qualidade de vida dos indivíduos. A sua intervenção centra-se na análise e avaliação do movimento e da postura, baseadas na estrutura e função do corpo.
      </p>
    </div>

    <a href="/osteopatia.html">
    <div class="tecnicas osteo-container">
      <h2>Osteopatia</h2>
      <p>A Osteopatia assenta em quatro pilares fundamentais</p>
      <p>O ser humano é um todo indivisível. Todas as partes do corpo relacionam-se entre si.
         O corpo humano tem a capacidade de se autorregular, reencontrando a harmonia e o equilíbrio nas suas estruturas, designada por homeostasia.
         Para o corpo se autorregular é necessário que não haja obstruções nos canais nervosos, linfáticos, vasculares, além da nutrição celular e eliminação de dejetos.
         A função arterial é primordial. Se as artérias não funcionarem corretamente, o sistema venoso será mais lento, o que acumulará toxinas, gerando doenças.
      </p>
      <p>Saiba mais...</p>
    </div>
    </a>

    <div class="tecnicas">
      <h2>Reeducação Postural Global</h2>
      <p>
      Ao longo da nossa vida, há vários factores que desencadeiam desequilíbrios no nosso organismo, sejam eles bioquímicos, psicológicos ou mecânicos.
      <br>
      No séc. XXI, muitos dos nossos sintomas físicos (musculares, articulares) não derivam de patologias estruturais, ao invés disso, decorrem de desequilíbrios dos músculos e tecido conectivo (como por exemplo as fáscias que percorrem todo o corpo humano, desde as meninges à fáscia plantar).

      </p>
    </div>


  </div>
</div>





