<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "health.jpg"%>);"">
  <div class="home-content">
    <h1>FisioMoço</h1>
    <p>It is health that is real wealth and not pieces of gold and silver</p>
     <h5>Mahatma Gandhi</h5>
  </div>
</div>

