<!-- Homepage banner -->

<div class="banner"  alt="Postura corpural" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "health.jpg"%>);">
  <div class="home-content">
    <h1>FisioMoço</h1>
    <p>It is health that is real wealth and not pieces of gold and silver</p>
    <h5>Mahatma Gandhi</h5>
  </div>
  <a href="#tecnicas">
    <div class="arrow"></div>
  </a>
</div>

<!-- Osteopatia section -->

<div class="container-tecnicas" id="tecnicas">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-offset-sm-2 col-md-4 col-md-offset-2">
      <%= image_tag("/images/spinal-column.png", class:"image-osteo", alt:"columna vertebral")%>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-0 col-md-5">
      <div class="tecnicas osteo-container ">
        <h2>Osteopatia</h2>
        <i></i>
        <p>A Osteopatia assenta em quatro pilares fundamentais:</p>
        <p>O ser humano é um todo indivisível. Todas as partes do corpo relacionam-se entre si.
         O corpo humano tem a capacidade de se autorregular, reencontrando a harmonia e o equilíbrio nas suas estruturas, designada por homeostasia.
         Para o corpo se autorregular é necessário que não haja obstruções nos canais nervosos, linfáticos, vasculares, além da nutrição celular e eliminação de dejetos.
         A função arterial é primordial. Se as artérias não funcionarem corretamente, o sistema venoso será mais lento, o que acumulará toxinas, gerando doenças.
       </p>
       <a href="/osteopatia.html">
        <p>Saiba mais --></p>
      </a>

    </div>
  </div>
</div>

</div>


<!-- Fisioterapia section  -->

<div class="container-tecnicas">
  <div class="row">
  <div class="col-xs-12 col-sm-4 col-offset-sm-2 col-md-4 col-md-offset-2">
    <%= image_tag("/images/physio.png", class:"image-fisio", alt:"reabilitação") %>
  </div>
   <div class="col-xs-12 col-sm-5 col-sm-offset-0 col-md-5">
    <div class="tecnicas fisio-container">
      <h2>Fisioterapia</h2>
      <p>
        O Fisioterapeuta atua na recuperação, reeducação, reabilitação e prevenção de incapacidades originadas por disfunções físicas, do foro funcional músculo-esquelético, cardiovascular, respiratório e neurológico, e disfunções psíquicas.
        <br>
        O objetivo final é o de desenvolver a máxima funcionalidade e qualidade de vida dos indivíduos. A sua intervenção centra-se na análise e avaliação do movimento e da postura, baseadas na estrutura e função do corpo.
      </p>
      <br>
      <a href="/fisioterapia.html">
        <p>Saiba mais --></p>
      </a>
    </div>
  </div>
</div>
</div>



<!-- RPG Section  -->

<div class="container-tecnicas">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-offset-sm-2 col-md-4 col-md-offset-2">
      <%= image_tag("/images/rpg.png", class:"image-fisio", alt:"reabilitação") %>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-0 col-md-5">
      <div class="tecnicas fisio-container">
        <h2>Reeducação Postural Global</h2>
        <p>
          Ao longo da nossa vida, há vários factores que desencadeiam desequilíbrios no nosso organismo, sejam eles bioquímicos, psicológicos ou mecânicos.
          <br>
          No séc. XXI, muitos dos nossos sintomas físicos (musculares, articulares) não derivam de patologias estruturais, ao invés disso, decorrem de desequilíbrios dos músculos e tecido conectivo (como por exemplo as fáscias que percorrem todo o corpo humano, desde as meninges à fáscia plantar).
        </p>
        <br>
        <a href="/rpg.html">
          <p>Saiba mais --></p>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Reviews Section -->
