<!-- Banner -->
<div class="special-show-banner">
  <h1>Osteopatia</h1>
</div>

<!-- Description Specialities -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 specialities-explain">
    <h2>A Osteopatia assenta em quatro pilares fundamentais:</h2>
    <ol>
      <li>O ser humano é um todo indivisível. Todas as partes do corpo relacionam-se entre si</li>
      <li>O corpo humano tem a capacidade de se autorregular, reencontrando a harmonia e o equilíbrio nas suas estruturas, designada por homeostasia</li>
      <li>Para o corpo se autorregular é necessário que não haja obstruções nos canais nervosos, linfáticos, vasculares, além da nutrição celular e eliminação de dejetos</li>
      <li>A função arterial é primordial. Se as artérias não funcionarem corretamente, o sistema venoso será mais lento, o que acumulará toxinas, gerando doenças</li>
    </ol>
    <p>
      Outro dos princípios fundamentais desta terapia é a relação entre hipermobilidade e a lesão. Por um determinado factor, uma zona do nosso corpo pode perder mobilidade, tornando-se uma zona hipomóvel. Em compensação, uma zona próxima torna-se hipermóvel. Nesta zona com muita mobilidade há maior probabilidade de ocorrerem lesões.
      <br>
      Assim, a dor aparece na zona da lesão, que não coincide com a zona hipomóvel, a origem da lesão. O tratamento deve ser direcionado não para a zona de dor, mas para a origem da lesão, a região hipomóvel.
      <br>
      Esta filosofia de intervenção permite uma recuperação mais eficaz e rápida, e permite que cada pessoa não dependa do terapeuta a longo prazo.
    </p>
    <h2>Que patologias trata?</h2>
     <ul>
      <li>Hérnias discais e protusões de disco</li>
      <li>Lombalgias</li>
      <li>Tendinites</li>
      <li>Lesões articulares</li>
    </ul>
  </div>
</div>
<%= partial "layouts/footer" %>
