<!-- Banner -->
<div class="special-show-banner">
  <h1 class="fadein">RPG</h1>
  <h2>Reeducação Postural Global</h2>
</div>

<!-- Description Specialities -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 specialities-explain">
    <h2>O que é?</h2>
    <p>
      Ao longo da nossa vida, há vários factores que desencadeiam desequilíbrios no nosso organismo, sejam eles bioquímicos, psicológicos ou mecânicos.
      <br>
      No séc. XXI, muitos dos nossos sintomas físicos (musculares, articulares) não derivam de patologias estruturais, ao invés disso, decorrem de desequilíbrios dos músculos e tecido conectivo (como por exemplo as fáscias que percorrem todo o corpo humano, desde as meninges à fáscia plantar).
      <br>
      Destes desequilíbrios podem surgir lesões ortopédicas, desde hérnias discais a tendinites.
      Torna-se imperativo intervir sobre o problema funcional, conquistando o equilíbrio orgânico ao melhorar a simetria do movimento.
      <br>
      Quando as cadeias musculares se encontram novamente em simetria, todos os grupos musculares funcionam em harmonia. Este é o objectivo final da RPG.
    </p>
    <h2>Mais eficaz em:</h2>
    <ol>
      <li>Hérnias discais</li>
      <li>Lesões articulares</li>
      <li>Escolioses</li>
      <li>Tendinites</li>
      <li>Dores não específicas na coluna</li>
    </ol>
  </div>
</div>
<%= partial "layouts/footer" %>


